# Configures Docker to ignore specific files and directories during the build process.
#
# This file ensures that sensitive keys, logs, and development-only artifacts
# are excluded from the Docker image to improve security and reduce build size.
#
# TABLE OF CONTENTS:
#
# 1. Version Control & Environment
# 2. Security Keys
# 3. Logs & Temp Files
# 4. Storage & Assets
# 5. Tooling & Deployment
#
# @author Moisés Reis

# =============================================================
#                1. VERSION CONTROL & ENVIRONMENT
# =============================================================

/.git/
/.gitignore
/.bundle
/.env*

# =============================================================
#                       2. SECURITY KEYS
# =============================================================

/config/master.key
/config/credentials/*.key

# =============================================================
#                     3. LOGS & TEMP FILES
# =============================================================

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep

# =============================================================
#                      4. STORAGE & ASSETS
# =============================================================

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# =============================================================
#                    5. TOOLING & DEPLOYMENT
# =============================================================

/.github
/config/deploy*.yml
/.kamal
/.devcontainer
/.dockerignore
/Dockerfile*
