<%#
  # Partial: _container.html
  # Date: 11/14/2025
  # Author: Moisés Reis
  # Package: Meta
  #
  # Description: Renders a layout container that organizes the page header and body.
  #              Structures the title, breadcrumbs, and main content with consistent styling.
  #
  # Usage: - What: Presents a unified wrapper that keeps page titles, actions, and content aligned.
  #                Ensures visual consistency across dashboard pages.
  #        - How: Wraps the header and content in flexible containers and renders the yielded block
  #               according to the current view mode.
  #        - Why: Provides a stable, reusable structure that standardizes page layout and reduces duplication.
  %>
<section class="flex flex-col col-span-14">
  <div class="h-12 px-6 flex flex-row items-center justify-between border-b border-border">
    <div class="flex flex-row gap-1.5 items-center justify-start">
      <%= content_tag :h1,
                      page_title,
                      class: "text-heading font-mono text-sm uppercase font-medium text-left"
      %>
    </div>
    <%= render "partials/blocks/composed-avatar" %>
  </div>
  <div class="bg-white flex flex-col gap-3 [&>form]:flex [&>form]:!gap-6 [&>form]:p-6">

    <%# [Condition] Renders content differently depending on the current view. %>
    <% if current_view == "datatable" %>
      <div class="p-6 py-3 flex flex-col gap-6">
        <%= yield %>
      </div>
    <% else %>
      <div class="py-12 px-32 flex flex-col gap-6">
        <%= yield %>
      </div>
    <% end %>
  </div>
</section>