<%#
  PARTIAL: _checking_account.html.erb
  DESCRIPTION: Renders a single checking account item wrapped in a DOM ID.
               Used by collection rendering in index views.
  LOCAL VARIABLES:
    - checking_account: [CheckingAccount] The checking account record to display.
%>
<div id="<%= dom_id checking_account %>" class="w-full sm:w-auto my-5 space-y-5">
</div>
