<% flash.each do |type, message| %>
  <div class="fixed bottom-6 left-1/2 -translate-x-1/2 bg-inchworm-50 border border-inchworm-100 rounded-base p-3 shadow-xs text-sm z-[99999]">
    <%= message %>
  </div>
<% end %>