<% flash_classes = {
  "notice"  => "bg-inchworm-50 border-inchworm-100 text-inchworm-800",
  "success" => "bg-success-50 border-success-100 text-success-800",
  "alert"   => "bg-danger-50  border-danger-100  text-danger-800",
  "error"   => "bg-danger-50  border-danger-100  text-danger-800",
  "destroy" => "bg-danger-50  border-danger-100  text-danger-800"
}.freeze %>

<% flash.each do |type, message| %>
  <div class="fixed bottom-6 left-1/2 -translate-x-1/2 border rounded-base p-3 shadow-xs text-sm z-[99999] <%= flash_classes.fetch(type, 'bg-inchworm-50 border-inchworm-100 text-inchworm-800') %>">
    <%= message %>
  </div>
<% end %>