<%#
  PARTIAL: app/components/modules/avatar_component.html.erb
  DESCRIPTION: Renders a user avatar using initials inside a circular UI container.

  LOCAL VARIABLES:
  - initials: [String] Precomputed user initials (required).
%>

<!-- Modules::AvatarComponent [<%= initials %>] -->
<span
  data-slot="avatar"
  class="relative flex justify-center items-center h-7 w-7 shrink-0 overflow-hidden rounded-full bg-honeysuckle-300"
>

  <div
    class="flex flex-row items-center justify-center gap-0
           [&>span]:uppercase
           [&>span]:font-mono
           [&>span]:font-semibold
           [&>span]:text-3xs
           [&>span]:text-mono"
  >
    <span><%= initials %></span>
  </div>

</span>
