<%#
  PARTIAL: app/components/modules/copyright_component.html.erb
  DESCRIPTION: Renders application copyright footer with dynamic year.

  LOCAL VARIABLES:
  - current_year: [Integer] Current calendar year (required).
%>

<!-- Modules::CopyrightComponent -->
<div class="flex flex-row">
  <p class="text-muted font-body text-2xs font-normal">
    &copy; <%= current_year %> <%= AppConstants::COMPANY_NAME_LONG %>
  </p>
</div>
