<%#
  PARTIAL: app/components/modules/logo_component.html.erb
  DESCRIPTION: Renders the application logo with configurable size and alt text.

  LOCAL VARIABLES:
  - @size: [String] Image size in format WIDTHxHEIGHT (required).
  - @alt:  [String] Alternative text for accessibility (required).
%>

<!-- Modules::LogoComponent -->
<div class="flex flex-row">
  <%= image_tag("logo.svg", size: @size, alt: @alt) %>
</div>
