<%#
  PARTIAL: app/views/partials/modules/_avatar.html.erb
  DESCRIPTION: Renders a circular user avatar displaying user initials.

  LOCAL VARIABLES:
  - current_user: [User] The user whose avatar should be displayed.
%>

<span data-slot="avatar"
      class="relative flex justify-center items-center h-7 w-7 shrink-0 overflow-hidden rounded-full bg-honeysuckle-300">

  <div class="flex flex-row items-center justify-center gap-0
              [&>span]:uppercase
              [&>span]:font-mono
              [&>span]:font-semibold
              [&>span]:text-3xs
              [&>span]:text-mono">

    <%= content_tag :span, "#{current_user.first_name.first}#{current_user.last_name.first}" %>

  </div>
</span>
