<%#
  # Partial: _copyright.html
  # Date: 11/12/2025
  # Author: Moisés Reis
  # Package: Meta
  #
  # Description: Displays the application’s copyright notice.
  #              Uses semantic text and styling consistent with the visual identity.
  #              Ensures accessibility and proper brand attribution.
  #
  # Usage: - What: Shows a small text line containing the company’s copyright statement.
  #                Can be placed in the footer or authentication layouts.
  #        - How:  Render this partial directly or include it in a shared layout.
  #        - Why:  Provides clear ownership and legal protection for the application’s content.
  %>
<div class="flex flex-row">
  <%= content_tag :p, "© 2025 Meta Consultoria de Investimentos Institucionais Ltda. Todos os direitos reservados.", class: "text-muted font-body text-2xs font-normal" %>
</div>